<h1>Whats your question?</h1>
<form action="/posts" method="post" accept-charset="utf-8">
<p>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="">
</p>
<p>
    <label for="author">By</label>
    <input type="text" id="title" name="title" value="">
</p>
<p>
    <label for="date">Date</label>
    
</p>
<p>
<label for="post">Post</label>

</p>
<p>
    <textarea rows="25" cols="100" type="text" value="" name="post" id="post"></textarea>
</p>
<input type="submit" value="post">

</form>